<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" autowire="byName">
		<property name="location" value="classpath:db-config.properties" />
	</bean>

	<mongo:db-factory id="mongoDbFactory" host="${db.mongo.host}" port="${db.mongo.port}" dbname="${db.mongo.dbname}" username="${db.mongo.username}"
		password="${db.mongo.password}" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
	</bean>

	<!-- Spring Data for MongoDB -->
	<mongo:repositories base-package="com.dev118.jexample.mongodb.springdata" />

</beans>
